<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Wiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <!-- <div id="heading">
        <span class="heading-elment">Hello Vro</span>
    </div> -->

    <header>
        <p class="headerelement" style="font-size: 3rem;">Math Wiz</p>
        <p class="headerelement" style="font-size: 1rem;">GRP 2- AI PROJECT</p>

    </header>

    <div class="container">
        <div id="spc">Hello Vro, Pls Upload Img.</div>
        <div>Solution.</div>
    </div>

    <footer>
        <pre>
            Made By Ali,Akarsh,Dan,Harsh
                                    |
                         this nigga did nothing
        </pre>
    </footer>

    <script>
        document.getElementById("spc").addEventListener("mouseover", function() {
    this.innerText = "NIGGER JUST DO IT";
});

document.getElementById("spc").addEventListener("mouseout", function() {
    this.innerText = "Hello Vro, Pls Upload Img";
});
    </script>
</body>
</html>